.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.5s ease-in;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 90%;
  align-self: center;
  border-radius: 4rem;
  padding: 1rem 2.5rem;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link {
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}

/* Tooltip styling */
.nav a {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}
.nav a:hover span {
  bottom: 40px; /* change when direction change */
  visibility: visible;
  opacity: 1;
  /* width: max-content; */
  max-height: 2rem;
}
.nav .spetial span {
  width: max-content;
}
.nav a span {
  position: absolute;
  bottom: 0; /* change when direction change */
  background: var(--title-color);
  color: var(--body-color);
  font-size: var(--normal-font-size);
  max-height: 2rem;
  border-radius: 0.3rem;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.nav .spetial span::before {
  border-bottom: 5px solid var(--title-color);
  top: -5px;
}
.nav a span::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--title-color); /* change when direction change */
  position: absolute;
  bottom: -5px; /* change when direction change */
  left: 35px;
}

/* change when direction change */
/* .nav a span ~ .bottom {
  top: 0;
}

.nav a:hover span ~ .bottom {
  top: 40px;
}

.nav a span::before ~ .bottom {
  border-bottom: 5px solid var(--title-color);
  top: -5px;
} */
