.joke__container {
  text-align: center;
}

.joke__container h3 {
  margin: 0;
  letter-spacing: 2px;
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

.joke__container img {
  width: 100px;
  margin-bottom: 0.5rem;
}

.joke__container .bx-loader-circle {
  font-size: 3rem;
}

.joke__container .joke {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 2rem;
  min-height: 6rem;
  margin: 0.7rem auto;
  text-align: center;
}
